*,
*::after,
*::before {
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('../images/bg.png');
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    color: #727272;
}

button {
    background: none;
    border: 2px solid #c8c8c8;
    border-radius: 10px;
    color: #727272;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;

    &:focus {
        outline: none;
    }

    &:hover {
        border-color: #727272;
    }
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: hidden;
}

.overlay.hide {
    display: none;
}

.game-start {
    max-width: 600px;
    margin: 120px auto;
    background: #dadada;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

    form {
        margin: 20px 0 0 0;
        width: 100%;

        .form-item {
            padding: 10px;
            width: 300px;
            margin: 10px auto;

            label {
                padding: 0 5px 0 0;
                float: left;
            }

            input,
            select {
                width: 100px;
                display: block;
                float: right;
            }

            button {
                padding: 10px;
                width: 100px;
                margin: 10px auto;
            }
        }
    }
}

.game-start.hide {
    display: none;
}

.game-over {
    max-width: 600px;
    margin: 120px auto;
    background: #dadada;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    display: none;

    p {
        margin: 20px 0 18px 0;
        font-size: 20px;
    }

    button {
        padding: 10px;
        width: 200px;
        margin: 0 auto;
    }
}

.game-over.show {
    display: block;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background: #d4d4d4;
    border-radius: 10px;
    padding: 20px;
    text-align: center;

    h1 {
        margin: 0 0 20px 0;
    }

    p {
        margin: 20px 0 0;
    }
}

.button-wrap {
    display: flex;
    justify-content: space-between;

    button {
        margin: 20px 0;
        padding: 20px 0;
        flex: 0 0 30%;
    }
}

.box {
    background: #dadada;
    border-radius: 10px;
    padding: 10px 20px;
}

.game-setup {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;

    p {
        flex: 0 0 50%;
    }
}

.messages {
    height: 100px;
    display: flex;
    flex-wrap: wrap;
}

.message {
    flex: 0 0 50%;
}

.result {
    flex: 0 0 100%;
    font-weight: bold;
    margin: 10px 0;
}

.points {
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 20px 0;

    p {
        flex: 0 0 50%;

        &:last-of-type {
            flex: 0 0 100%;
            font-size: 14px;
            color: #727272;
        }
    }
}


.loose {
    color: #ec5b27;
}

.win {
    color: #1baf11;
}

.draw {
    color: #727272;
}

@media (max-width: 767px) {
    body {
        font-size: 12px;
    }

    .container {
        h1 {
            font-size: 20px;
        }
    }

    .button-wrap {
        button {
            padding: 15px 0;
            font-size: 12px;
        }
    }

    .points {
        p {
            &:last-of-type {
                font-size: 10px;
            }
        }
    }
}